@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat';
  color: #141740;
}

p {
  font-family: 'Roboto';
  color: #141740;
}

a {
  font-family: 'Montserrat';
}

a:hover {
  -webkit-text-decoration: 2px underline #06A4BA;
          text-decoration: 2px underline #06A4BA;
}

a:active {
  color: #06A4BA;
}

main .main__title {
  padding-top: 12.5rem;
  font-size: 6rem;
  text-align: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 2.5rem;
  position: fixed;
  top: 0;
  background-color: #141740;
}

.navbar .navbar__input {
  height: 4.5rem;
  padding-left: 1rem;
}

.navbar .navbar__input-button {
  padding: 1rem;
  border: none;
  background-color: #82BF45;
  font-weight: bold;
  color: oldlace;
  height: 4.5rem;
}

.navbar .navbar__menu .navbar__menu-button {
  padding: 1rem;
  border: none;
  background-color: #99D6D6;
  font-weight: bold;
  color: oldlace;
  height: 4.5rem;
  position: fixed;
  right: 2.5rem;
  cursor: pointer;
}

.navbar .navbar__menu .navbar__menu-button.navbar__menu-button--expanded {
  background-color: #06A4BA;
}

.navbar .navbar__menu .navbar__menu-list {
  width: 80vw;
  height: 100vh;
  padding: 2rem;
  background-color: white;
  border-left: 2px #141740 solid;
  position: fixed;
  top: 9.5rem;
  right: -80vw;
  -webkit-transition: ease-in-out 1.2s;
  transition: ease-in-out 1.2s;
}

.navbar .navbar__menu .navbar__menu-list.navbar__menu-list--expanded {
  right: 0vw;
}

.navbar .navbar__menu .navbar__menu-list .navbar__menu-item {
  list-style: none;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #141740;
  cursor: pointer;
}

.view {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

.view .view__page-button-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.view .view__page-button-container .view__page-button {
  border: none;
  border-radius: 0.5rem;
  height: 5rem;
  width: 7rem;
  margin-left: 1rem;
  font-size: 4rem;
  color: #141740;
  background-color: #F2DD72;
  cursor: pointer;
}

.view .view__character-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
  width: 340px;
  margin: 10px;
  border: 1.5px #141740 solid;
  border-radius: 1rem;
}

.view .view__character-container:hover {
  background-color: #06A4BA;
}

.view .view__character-container .view__character-image {
  margin: 0 auto;
}

.view .view__character-container .view__character-info {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.view .view__character-container .view__character-info .view__character-name {
  font-size: 2rem;
}

.view .view__character-container .view__character-info .view__character-fav-btn {
  border: none;
  height: 5rem;
  width: 8rem;
  margin-left: 1rem;
  font-size: 4rem;
  background-color: #82BF45;
  border-radius: 0.5rem;
  cursor: pointer;
}

.view .view__character-container .view__character-info .view__character-fav-btn.add {
  color: oldlace;
}

.view .view__character-container .view__character-info .view__character-fav-btn.del {
  color: #06A4BA;
}

.view .view__character-container .view__character-status {
  width: 300px;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: #F2DD72;
  background-color: #141740;
}
/*# sourceMappingURL=styles.css.map */